### Gradle ###
.gradle
/gradle
!gradle/wrapper/gradle-wrapper.jar
=======
build/
out/
gradle/wrapper*
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
le/